@use "overrides";

.df-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    white-space: pre-wrap;
}

input,
textarea,
select {
  font-size: 16px;
}

main{
    margin-top: 24px; //ヘッダーに移動した結果
}

.form-label{
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 1rem;
}

.color-orange{
    color: orange;
}

.work-new-page{
    .form-label{
        font-size: 0.75rem;
        margin: 0;
    }
    input,textarea{
        &::placeholder{
            font-size: 0.75rem;
            color: gray;
        }
    }
    .multiselect-placeholder{
        font-size: 0.75rem;
        color: gray;
        padding-right: 1rem;
    }
    .multiselect-search{
        &::placeholder{
            font-size: 0.75rem;
        }
    }
}

.must{
    &::after{
        content: "*";
        color: red;
    }
}